.faqpage {
	background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
		url("../assets/faqbg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
}

.faq-section h1 {
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
	color: whitesmoke;
}

.inner-box {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
