/* Navbar */
/* ----------------------------------------------- */
.navbar-block {
    display: flex;
    margin: auto;
    /* flex-direction: column; */
    justify-content: space-evenly;
    background-color: #2D88F0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link {
    background-color: snow;
    text-decoration: none;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

.link:hover {
    outline: black 2px dashed; 
    /*use outline so that the overall element doesnt expand weirdly*/

}


/* ----------------------------------------------- */

/* Home Page */

.search-btn {
    padding: 8px;
    margin-right: 10px;
    border: black 1px solid;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
.search-btn:hover {
    border-style: dashed;
}

/* ----------------------------------------------- */
/* Footer */
/* ----------------------------------------------- */

.footer-block {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: 0;
    /* align-self: center; */
}

.main-footer-block {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2D88F0;
    /* width: 90%; */
}

.link-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    background-color: snow;
}
/* ----------------------------------------------- */